
Project Pertama - M Syarif Hidayatullah/Library/*
Project Pertama - M Syarif Hidayatullah/Logs/*
Project Pertama - M Syarif Hidayatullah/Temp/*

Project Pertama - M Syarif Hidayatullah/.vsconfig
Project Pertama - M Syarif Hidayatullah/*.sln
